<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rupal.matrev" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".LoginActivity"
            android:screenOrientation="nosensor"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:label="MatRev">
        </activity>
        <activity android:name=".TestActivity"
            android:label="Test">
        </activity>
        <activity android:name=".ResultActivity"
            android:label="Rezultaty">
        </activity>
        <activity android:name=".RevisionActivity"
            android:label="Powtórka">
        </activity>
        <activity android:name=".StudyActivity"
            android:label="Nauka">
        </activity>
        <activity android:name=".StudyTopicActivity"
            android:label="Dozór Techniczny">
        </activity>
        <activity android:name=".StudyTopic2Activity"
            android:label="Obowiązki">
        </activity>
        <activity android:name=".StudyTopic3Activity"
            android:label="Rodzaje Urządzeń">
        </activity>
        <activity android:name=".StudyTopic4Activity"
            android:label="Najważniejsze Parametry">
        </activity>
        <activity android:name=".StudyTopic5Activity"
            android:label="Obsługa">
        </activity>
        <activity android:name=".StudyTopic6Activity"
            android:label="Zagrożenia">
        </activity>
        <activity android:name=".StudyTopic7Activity"
            android:label="Zabezpieczenia podestu">
        </activity>
        <activity android:name=".OptionsActivity"
            android:label="Opcje">
        </activity>
        <activity android:name=".HelpActivity"
            android:label="Pomoc">
        </activity>
        <activity android:name=".PopupActivity"
            android:label="Pop">
        </activity>
        <activity android:name=".RevisionTopic1Activity"
            android:label="Udźwig">
        </activity>
        <activity android:name=".RevisionTopic2Activity"
            android:label="Stateczność">
        </activity>
        <activity android:name=".RevisionTopic3Activity"
            android:label="Przechył">
        </activity>
        <activity android:name=".RevisionTopic4Activity"
            android:label="Siły dynamiczne">
        </activity>
        <activity android:name=".RevisionTopic5Activity"
            android:label="Wiatr">
        </activity>
        <activity android:name=".RevisionTopic6Activity"
            android:label="Linie energoenergetyczne">
        </activity>
        <activity android:name=".RevisionTopic7Activity"
            android:label="Zabezpieczenia">
        </activity>
        <activity android:name=".BaseActivity"
            android:label="Theme">
        </activity>
    </application>

</manifest>